@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Pacifico', cursive;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: coral;

}

.all_content {
  min-width: 500px;
  max-width: 700px;

  background-color:burlywood;

  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;

  margin: auto;
}
.container {
  padding-bottom: 20px;

}

/* SEARCHBAR */
.search {
  text-align: center;
}
.searchTitle {
  font-size: 40px;
}
.searchString {
  display: flex;
  justify-content: center;
}
.searchString  input{
  width: 350px; 
  padding: 5px;
  border-radius: 10px;
  background-color: antiquewhite;
  font-family: 'Pacifico', cursive;
  line-height: 33px;
  font-size: 18px;
}

/* BUTTONBAR */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;

}
.buttonsMain {
  padding: 0;
  margin: 10px;

  display: flex;
}
.buttonsMainItem {
  padding: 5px;
  margin: 5px;
  min-width: 60px;
  max-width: 100%;
  border-radius: 10px;
  background-color: antiquewhite;
  font-size: 18px;

}
.buttonsSort {
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: 41px;
  max-width: 100%;
  border-radius: 10px;
  background-color: antiquewhite;
  border: 2px solid black;

}
.buttonsSortText {
  text-decoration: underline;
  margin: 0 10px 0 5px;
}
.buttonsSortArrows {
  list-style-type: none;
  padding: 0;

  display: flex;

}
.buttonsSortArrowsItem {
  margin-right: 5px;
  background-color: antiquewhite;
  border-radius: 10px;
}

/* TASKBAR */
.taskList {
  list-style-type: none;
  padding: 0;
}
.taskListItem {
  display: flex;
  justify-content: space-between;

  border: 2px solid black;
  border-radius: 10px;
  background-color: antiquewhite;

  margin: auto;
  margin-bottom: 10px;

  width: 400px;
  padding: 10px;
}
.taskListItem:last-child {
  margin-bottom: 0;
}
.taskListItemHalf {
  display: flex;
  align-items: center;
}
.taskListItemElem {
  margin-right: 10px;
}
.taskListItemElem:last-child {
  margin-right: 0;
}
.taskListItemDate {
  background-color: antiquewhite;
}
.taskListItemButton {
  background-color: antiquewhite;
}

/* NAVBAR */
.slider {
  width: 400px;
  margin: auto;

  display: flex;
  justify-content: center;
}
.sliderItem {
  width: 40px;
  margin-right: 5px;

  background-color: antiquewhite;
  padding: 5px;

  border-radius: 10px;
}
.sliderArrow:first-child {
  margin-left: 5px;
}
